# '/' is used to ignore the files which are present in current directory only
/mylog.log
# '*' is used to ignore all log files
*.log
# '/' means folder
# ignore/ means files ignore folder should be ignored
ignore/